@model MaterialLandingApp.Models.LandingPageViewModel

<nav class="navbar navbar-expand-lg">

<div class="container">

<a class="navbar-brand">Materialize</a>

<ul class="navbar-nav ms-auto">

@foreach(var item in Model.MenuItems)
{
<li class="nav-item">
<a class="nav-link" href="@item.Url">@item.Name</a>
</li>
}

</ul>

</div>

</nav>