<section class="section-py">

<div class="container text-center">

<h4 class="mb-4">Trusted by great companies</h4>

<div class="row">

<div class="col">
<img src="~/material-theme/assets/img/front-pages/landing-page/client-1.png">
</div>

<div class="col">
<img src="~/material-theme/assets/img/front-pages/landing-page/client-2.png">
</div>

<div class="col">
<img src="~/material-theme/assets/img/front-pages/landing-page/client-3.png">
</div>

</div>

</div>

</section>