<section class="py-5 bg-light">

<div class="container text-center">

<h4 class="mb-5">
Trusted by companies around the world
</h4>

<div class="swiper logo-slider">

<div class="swiper-wrapper">

<div class="swiper-slide">
<img src="~/material-theme/assets/logo-1.png" class="img-fluid" />
</div>

<div class="swiper-slide">
<img src="~/material-theme/assets/logo-2.png" class="img-fluid" />
</div>

<div class="swiper-slide">
<img src="~/material-theme/assets/logo-3.png" class="img-fluid" />
</div>

<div class="swiper-slide">
<img src="~/material-theme/assets/logo-4.png" class="img-fluid" />
</div>

<div class="swiper-slide">
<img src="~/material-theme/assets/logo-5.png" class="img-fluid" />
</div>

</div>

</div>

</div>

</section>