@model List<MaterialLandingApp.Models.FaqModel>

<section id="faq" class="section-py">

<div class="container">

<h2 class="text-center mb-5">
Frequently Asked Questions
</h2>

@foreach(var faq in Model)
{
<div class="accordion-item mb-3">

<h5>@faq.Question</h5>

<p>@faq.Answer</p>

</div>
}

</div>

</section>