@model List<MaterialLandingApp.Models.FaqModel>

<section id="faq" class="py-5">

<div class="container">

<h2 class="text-center mb-5">
Frequently Asked Questions
</h2>

@foreach(var f in Model)
{
<h5>@f.Question</h5>

<p class="text-muted">
@f.Answer
</p>
}

</div>

</section>