<section class="section-py">

<div class="container">

<div class="row">

<div class="col-lg-6">

<h1>The Ultimate Admin Dashboard</h1>

<p>Materialize is the most developer friendly admin template.</p>

<a class="btn btn-primary">Get Started</a>

</div>

<div class="col-lg-6">

<img src="~/material-theme/assets/hero-dashboard-light.png"
class="img-fluid"/>

</div>

</div>

</div>

</section>