@model List<MaterialLandingApp.Models.PricingPlanModel>

<section id="pricing" class="py-5">

<div class="container">

<div class="row text-center">

@foreach(var p in Model)
{
<div class="col-md-4">

<div class="card shadow-sm">

<div class="card-body">

<h4>@p.Name</h4>

<h1>$@p.Price</h1>

<button class="btn btn-primary w-100">
Choose Plan
</button>

</div>

</div>

</div>
}

</div>

</div>

</section>