@model List<MaterialLandingApp.Models.ReviewModel>

<section class="section-py">

<div class="container">

<h2 class="text-center mb-5">What Customers Say</h2>

<div class="swiper review-slider">

<div class="swiper-wrapper">

@foreach(var r in Model)
{
<div class="swiper-slide">

<div class="card p-4 shadow-sm text-center">

<p class="text-muted">
@r.Comment
</p>

<h6>@r.Customer</h6>

<small class="text-muted">@r.Company</small>

</div>

</div>
}

</div>

</div>

</div>

</section>