@model List<MaterialLandingApp.Models.TableRowModel>

<section class="py-5">

<div class="container">

<table class="table">

<thead>

<tr>
<th>Name</th>
<th>Email</th>
<th>Status</th>
</tr>

</thead>

<tbody>

@foreach(var r in Model)
{
<tr>

<td>@r.Name</td>
<td>@r.Email</td>
<td>@r.Status</td>

</tr>
}

</tbody>

</table>

</div>

</section>