@model List<MaterialLandingApp.Models.TeamMemberModel>

<section id="team" class="py-5">

<div class="container">

<div class="row text-center">

@foreach(var t in Model)
{
<div class="col-md-4">

<img src="@t.Image"
class="rounded-circle mb-3"
width="120"/>

<h5>@t.Name</h5>

<p class="text-muted">
@t.Role
</p>

</div>
}

</div>

</div>

</section>