@model List<MaterialLandingApp.Models.TeamMemberModel>

<section id="team" class="py-5">
<div class="container">
<div class="row text-center">

@foreach (var member in Model)
{
    <div class="col-md-4">
        <img src="~/material-theme/assets/@member.Image" width="120" class="rounded-circle" />
        <h5>@member.Name</h5>
        <p>@member.Role</p>
    </div>
}

</div>
</div>
</section>